.grid-container{
    display: grid;
    grid-template-columns: 50% 50%;
}

.add-button{
    z-index: 2;
}

.dropdown-div{
    position: fixed;
    bottom: 3vh;
    right: 3vh;
    z-index: 1;
}

.dropdown-button-container{
    position: absolute;
    z-Index: 2;
    bottom: 100%;
    right: 0;
}