.dropdown-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.dropdown-button{
    border: none;
    box-sizing: border-box;
    width: 160px;
    height: 40px;
}

.dropdown-button:hover{
    background-color: lightgreen;
}